.commentContainer{
  margin: 10px 4px;
  padding: 10px;
  border-radius: 2px;
  position:relative;
  box-shadow: 1px 1px 4px 0 rgb(128, 128, 128);
}

.commentContainer > p {
  width: 80%;
}

.iconHolder {
  position: absolute;
  right: 5px;
  bottom: 10px;
  color: #444748;
}

.iconHolder:hover {
  cursor: pointer;
  color: #8E9396;
}

.commentContainer:hover {
    background-color: #FBFDFF;
}

.comment {
  position: relative;
  margin: 0;
}

.editFormContainer {
  position: absolute;
  top: 115px;
  background-color:#F3F5F6;
}

.editFormContainer > label {
  font-size: 20px;
  position: relative;
}

#editForm {
  background-color:#F3F5F6;
}

.editField {
  font-size: 13px;
  font-weight: 0px;
  font-family: sans-serif;
  height: 100px;
  background-color: #FFF;
  margin-top: 5px;
  resize: none;
  overflow: hidden;
}
