body,html {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.content {
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  font-weight: 100;
  font-size: 13px;
  background-color: #f3f5f6;
  position: relative;
  height: 100vh;
  padding-top: 10em;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  top: 48px;
  padding: 50px 140px;
  display: block;
}

.photos__container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 10px;
}

.image__holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  /* visibility: hidden; */
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 50%;
  transition: .10s;
}

.image:hover {
  box-shadow: 3px 3px 10px black;
}

.single__imgcontainer {
  max-height: 700px;
}
