.content {
font-family: darkmode-off, sans-serif;
font-style: normal;
font-weight: 100;
  font-weight: 100;
  font-size: 13px;
  background-color: #f3f5f6;
  position: relative;
  height: 100vh;
  padding-top: 10em;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  top: 48px;
  padding: 50px 140px;
  display: block;
  margin-bottom: 100vh;
}

.photos__container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 10px;
}

.image__holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  /* visibility: hidden; */
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 50%;
  transition: .10s;
}

.image__holder:hover {
  box-shadow: 3px 3px 10px black;
}

.single__content{
  font-weight: 100;
  font-size: 13px;
  width: 100%;
  background-color: #f3f5f6;
  position: absolute;
  height: 100vh;
  box-sizing: border-box;
  display: block;
}

.single__imgcontainer {
  width: 100%;
  background-color: #202124;
  height: 800px;
  display: flex;
  align-items: center;
  padding-top: 0px;
}

.singleImage {
  max-height: 700px;
  width: 100%;
  display: block;
  object-fit: contain;
  object-position: 50%;
  transition: .10s;
}

.single__postcontainer {
position: relative;
display:flex;
width: 1060px;
margin-right: auto;
margin-left: auto;
}

.leftview {
  width: 500px;
  margin-right: 60px;
}

.single__imageContent {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cfd6d9;
  position: relative;
  border-radius: 2px;
  padding: 5px;
}

.single__imageContent:hover,
.single__imageContent:hover .contentForm{
  background-color: #E7E9EA;
}

.rightview {
  width: 500px;
}

.image__content {
  font-size: 16px;
  color: #212124;
  width: 380px;
}

.imageIconHolder {
  color: #BDC0C3;
  position: absolute;
  top: 5px;
  right: 5px;
  width: fit-content;
  font-size: 32px;
  cursor: pointer;
}

.imageIconHolder:hover {
  color: #686c6e;
}

.contentForm {
  background-color:#F3F5F6;
  padding: 5px;
  width: 85%;
}

.editField {
  width: 100%;
  font-size: 13px;
  font-family: darkmode-off, sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  resize: none;
  border-radius: 3px;
}

.editField:focus {
  outline: none;
  border: 1px solid #008DDF;
}

.buttonHolder > button {
  font: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  height: 32px;
  width: 100px;
  background-color: #128fdc;
  text-decoration: none;
  transition: .15s;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 0px 5px;
}

.buttonHolder > button:hover {
  background-color: #1C9BE9;
}

#delete {
  background-color: #8d0009;
}

#delete:hover {
  background-color: #ff5c66;
}

.hovertext {
  color: white;
  z-index: 3000;
  font-size: 100px;
}
