.navbar {
  font-family: 'Proxima Nova','helvetica neue',helvetica,arial,sans-serif;
  font-size: 16px;
  font-weight: 600px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 39, 39, .35);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  height: 50px;
  z-index: 2000;
}

.glintr-logo-container {
  display: block;
  text-align: center;
  margin-right: 20px;
}

.glintr-logo-container img {
  width: 98px;
  align-self: center;
  justify-self: center;
}

.links{
  position: relative;
  margin-right: 10px;
}

.navbar__browse {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}


.active {
  text-decoration: none;
  color: white;
}
.emptyholder {
  width: 100%;
}

.navbar__tools {

  display:flex;
  align-items: center;
  list-style: none;
}

.navbar__login {
  margin-left: 23px;
  color: #fff;
  cursor: pointer;
  width: 43px;
  white-space: nowrap;
}

.navbar__signup--link{
 cursor: pointer;
 margin-left: 23px;
 padding-top: 10px;
 color: black;
 background-color: #fff;
 text-decoration: none;
 white-space: nowrap;
 border-radius: 3px;
 padding: 5px 20px;
}

.navbar__profile {
  font-size: 33px;
  color: #fff;
}

.fas {
  text-decoration: none;
  border: none;
}

.dropdown {
  width: 300px;
  position: fixed;
  top: 58.6px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 30%),
  0 1px 4px 0 rgb(0 0 0 / 20%);
}

.dropdown__content {
  display: flex;
  flex-direction: column;
  color: #212124;
  padding-inline-start: 0;
}

.dropdown__content > section {
  padding: 20px;
  font-size: 16px;
  text-align: justify;
  font-family: Haettenschweiler;

}

.dropdown__arrow {
  height: 11px;
  width: 21px;
  top: -11px;
  overflow: hidden;
  position: absolute;
  border: none;
  display: block;
}

.logout {
  text-align: justify;
  border-style: none;
  background-color: #fff;
  font-size: 16px;
  font-family: Haettenschweiler;
  cursor: pointer;
  width: 100%;
}

.dropdown__content > section:hover,
.logout__section:hover .logout,
.logout__section.hover .logout__section {
  background-color: whitesmoke;
}


.droparrow::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  margin-top: 7px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #aaa,
  -1px -1px 4px rgb(0 0 0 / 20%);
  transform: rotate(45deg);
}
